body{
	margin:0;
	overflow: hidden;
}
h1,p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
.clearfix::after{
	content: '';
	display: block;
	clear:both;
}
.top{
	background: #000;
	height: 96px;
	overflow: hidden;
}
.top_in{
	max-width:910px;
	margin:0 auto;
}
.top_in .logo{
	float: left;
	padding: 18px 0;
}
.top_in .logo>img{
	vertical-align: middle;
	width: 60px;
}
.top_in .right{
	float: right;
	padding-top: 34px;
}
.top_in .right input{
	background: #555;
	border: none;
	font-size: 12px;
	border-radius: 4px;
	color: #EEEEEE;
	padding: 5px 4px;
}
.top_in .right input[type=text]{
	padding: 6px 17px;
}

main{
	background: #666 url(../images/bg.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 96px);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
main .wrap{
	width: 816px;
}
#kbd{
	font-size: 16px;
	background: rgba(255,255,255,0.3);
	border-radius: 20px;
	padding: 20px 0;
}
#kbd kbd{
	width: 4em;
	height: 4em;
	display: inline-block;
	text-transform: uppercase;
	text-align: center;
	line-height: 4em;
	color: #9999B2;
	font-weight: bold;
	border-radius: 8px;
	margin:0 0.5em;
	cursor: pointer;
	box-sizing: border-box;
	position: relative;
	font-family: Helvetica;
	background: #000;
	box-shadow: 1px 1px 0 0 #737373,
				2px 2px 0 0 #959595,
				3px 3px 0 0 #B7B7B7;
}
#kbd kbd button
{
	border: none;
	background: orange;
	color: #fff;
	border-radius: 2px;
	position: absolute;
	top:3px;
	font-size: 12px;
	cursor: pointer;
	display: none;
}
#kbd kbd button:hover{
	background: #eee;
	color: #000;
}
#kbd kbd .btn1{
	left: 3px;
}
#kbd kbd .btn2{
	left: 26px;
}
#kbd kbd img{
	position: absolute;
	left: 4px;
	bottom: 4px;
}
#kbd kbd:hover{
	color: #fff;
	box-shadow: none;
}
#kbd div{
	padding:0.5em 0;
}
#kbd div:first-child{
	padding-left: 0.5em;
}
#kbd div:nth-child(3){
	padding-left: 2em;
}
#kbd div:nth-child(4){
	padding-left: 7em;
}
